body {
    background-color: palevioletred;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}
button {
    padding: 15px;
    border: none;
    background-color: rgb(19, 9, 57);
    color: beige;
    margin-left: 165px;
   
}
p {
    margin-left: 165px;
}
button:hover {
    background-color: white;
    color: rgb(19, 9, 57);
}
#paper:hover {
    content: url("paper\ -\ Copy.jpg");
 } 
 #rock:hover {
    content: url("rock\ -\ Copy.jpg");
 } 
 #scissors:hover {
    content: url("scissors\ -\ Copy.jpg");
 } 

 * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  @media (max-width: 600px) {
    .row {
        margin-left: auto;
        margin-right: auto;
        width: 100%;

    }
    p,button {
        margin-left: 10px;
    }
  }